<!--TODO Styling this list, smooth out ajax call -->
<div class="row">
<hr>
<ul class="list-unstyled">
  <% @latest_games.each do |gamecard| %>
  <div id="game-media-img"  class="card bg-dark text-white">
    <li class="media">
      <%if gamecard.screenshots.empty?%>
        <div class="card-img-overlay" id="game-detail-feature">
          <div class="media-body">
          <h5 class="mt-0 mb-1"><%= gamecard[:name] %></h5>
          <h4><span class="badge badge-warning"><%= date_format(gamecard[:first_release_date]) %></span></h4>
          <br>
          <%= link_to "Details", game_path(gamecard), class: "h5", style:"float:right;" %>
          </div>
        </div>
      <%else%>
        <%= image_tag(gamecard.screenshots.first.url,class:"mr-3",id:"game-media-cover") %>
      <%end%>
    </li>
    <div class="card-img-overlay" id="game-detail-feature">
      <div class="media-body">
        <h5 class="mt-0 mb-1"><%= gamecard[:name] %></h5>
     <h4><span class="badge badge-warning"><%= date_format(gamecard[:first_release_date]) %></span></h4>        
        <br>
        <%= link_to "Details", game_path(gamecard), class: "h5",style:"float:right;" %>
      </div>
    </div>
  </div>
  <% end %>
</ul>
</div>