
<% provide(:title, "Home") %>
<div class="container">
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-outline-warning btn-block">Go somewhere</a>
      </div>
    </div>

    <h1>Feature</h1>
    <div class="card-deck">
      <% @game_card_list.each do |gamecard| %>
      <% cache gamecard do %>
      <div class="card text-white bg-dark mb-3">
        <img class="card-img-top"<%= image_tag("#{gamecard[:cover]}") %>
        <div class="card-body">
          <h5 class="card-title center"><%= gamecard[:name] %></h5>
          <!--<p class="card-text"><%= gamecard[:summary][0..100]  %></p>-->
        </div>
        <div class="card-footer">
          <a href="<%=game_path(gamecard[:id]) %>" class="btn btn-outline-warning btn-block">Details</a>
        </div>
     </div>
      <% end %>
      <% end %>
    </div>
</div>
<hr>
<!-- For Specific Game, This is a test-->
<div class="container" >
    <h1>Screenshots Carousel</h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
       
        <ol class="carousel-indicators">
            <% @dummy_feature_list.each do |img| %>
             <% cache img do %>
            <li data-target="#carouselExampleIndicators" data-slide-to=<% img %> </li>
            <% end%>
            <% end %>
        </ol>
        
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src=<%= @dummy_feature_list.first["url"] %> alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Yakuza Kiwami 2</h5>
                    <p> As the heroic Kazuma Kiryu from the original Yakuza, explore Tokyo and now Osaka. </p>
                </div>
            </div>
            <% @dummy_feature_list[1..-1].each do |img| %>
            <% cache img do %>
            <div class="carousel-item">
                <img class="d-block w-100" src=<%= img["url"] %> alt="Second slide">
            </div>
            <% end%>
            <% end%>
            
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<hr>

<h1>Latest Guides</h1>

<hr>

<div class="center jumbotron">
    <p>
     Kiểm tra font tiếng Việt. Văn bản này chỉ để thử nghiệm kiểu phông chữ bất cứ khi nào chúng ta thay đổi nó.
     Lần này, mọi thứ phải được thực hiện đúng để đảm bảo mọi thứ sẽ tốt hơn
     Vì vậy, điều này có đủ tốt? Rõ ràng, nó trông ổn. Nhưng tốt, tôi nghĩ một liên lạc
     phông chữ là thứ thúc đẩy sự tham gia của độc giả.
    </p>
</div>

<div class="center jumbotron">
  <p>
     This text is just for testing the font style whenever we change it.
     This time, things must be done right to make sure everything look better 
     So Does this look good enough? Apparently, it look ok. But well, I think a touch
     to the font is the thing that boosts the engatement of readers alike. Welcome to GameInsight
     The veryfirst GameDB for Gamer from Vietnam!
     
     This product is make viable by the developer and writers at Ethu Inc.
   </p>
</div>

<!--<%= link_to image_tag("ethlogo.png", alt: "Ethu logo"),'http://ethugamer.com/' %>-->