<% provide(:title, "Home") %>
<div class="center jumbotron">
  <head>
    <title><%= yield(:title) %> | Welcome to GameInsight</title>
    
  </head>
  <body>
    <h1>GameInsight</h1>
  </body>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<div class="center jumbotron" id="gamesDetail">
  <%= %>
  <p>
    Video Games Detail
  </p>
  
  <table border="1" width="100%">
    <col style="width:15%">
	  <col style="width:15%">
	  <col style="width:45%">
	  <col style="width:25%">
	  
      <thead>
         <tr>
         <th>Release Date</th>
         <th>Title</th>
         <th>Summary</th>
         <th>Cover Art</th>
         </tr>
      </thead>
         <tbody>
         <tr>
         <td>$release_date</td>
         <td>$game_name</td>
         <td><%= @summary %></td>
         <td><img class="alignnone">Sigh</td>
         </tr>
         </tbody>
  </table>  
</div>

<div class="center jumbotron" id="gamesReleaseSchedule">
  
</div>

<div class="center jumbotron">
    <p>
     Kiểm tra font tiếng Việt.
    </p>
</div>

<div class="center jumbotron">
  <p>
     This text is just for testing the font style whenever we change it.
     This time, things must be done right to make sure everything look better 
     So Does this look good enough?
   </p>
</div>

<%= link_to image_tag("ethlogo.png", alt: "Ethu logo"),
            'http://ethugamer.com/' %>