<% provide(:title, "Home") %>
<div class="center jumbotron">
  <head>
    <title><%= yield(:title) %> | Welcome to GameInsight</title>
    
  </head>
  <body>
    <h1>GameInsight</h1>
  </body>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<h1>Feature</h1>
<div class="card" style="width: 18rem;">
  <img class="card-img-top"<%= image_tag("#{@cover}") %>
  <div class="card-body">
    <h5 class="card-title"><%= @gameName %></h5>
    <p class="card-text"><%= @summary %></p>
    <a href="#" class="btn btn-primary">Link to Game Page</a>
  </div>
</div>

<!--This was my table get from PHP snippet-->
<div class="center jumbotron" id="gamesDetail">
  <p>
    Video Games Detail
  </p>
  
  <table border="1" width="100%">
    <col style="width:15%">
	  <col style="width:15%">
	  <col style="width:45%">
	  <col style="width:25%">
	  
      <thead>
         <tr>
         <th>Release Date</th>
         <th>Title</th>
         <th>Summary</th>
         <th>Cover Art</th>
         </tr>
      </thead>
         <tbody>
         <tr>
         <td><%= @releaseDate %></td>
         <td><%= @gameName %></td>
         <td><%= @summary %></td>
         <td><%= image_tag("#{@cover}") %></td>
         </tr>
         </tbody>
  </table>  
</div>

<!-- Slide Bar for Recent Release video games -->
<h1>Recent Release</h1>


<h1>Latest Guides</h1>


<div class="center jumbotron">
    <p>
     Kiểm tra font tiếng Việt. 
    </p>
</div>

<div class="center jumbotron">
  <p>
     This text is just for testing the font style whenever we change it.
     This time, things must be done right to make sure everything look better 
     So Does this look good enough? Apparently, it look ok. But well, I think a touch
     to the font is the thing that boosts the engatement of readers alike. Welcome to DuLieuGame
     The veryfirst GameDB for Gamer from Vietnam!
   </p>
</div>

<!--<%= link_to image_tag("ethlogo.png", alt: "Ethu logo"),'http://ethugamer.com/' %>-->