<span><h4>| Around The Gaming World</h4></span>
<hr id="content-line">
<div class="card-group">
  <div class="card-columns">
   <% @platform_games.each do |game| %>
  <div class="card">
    <img class="card-img-top"<%= image_tag("#{game[:cover]}") %>
    <div class="card-body">
      <hr id="content-line">
      <h5 class="card-title"><%=game[:name]%></h5>
      <p class="card-text"><%= truncate(game[:summary], length: 200)%></p>
      <cite title="News Source"> <%=game[:news_source] %> </cite>
      <a href=<%=game_path(game[:slug]) %> target="_blank" class="btn btn-outline-warning btn-block">Details</a>
    </div>
  </div>
  <% end %>
  </div
</div>