<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <div class="card-header"><%= @game_newsfeed_list.first[:title]%></div>
          <img class="card-img-top"<%= image_tag("#{@game_newsfeed_list.first[:img]}") %>
          <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <p class="card-text"><%= @game_newsfeed_list.first[:summary] %></p>
            <a href=<%= @game_newsfeed_list.first[:url] %> target="_blank" class="btn btn-outline-warning">View more</a>
          </div>
          <div class="card-footer text-muted">
           <%= @game_newsfeed_list.first[:created_at] %>
          </div>
        </div>
      </div>
        <% @game_newsfeed_list[1..-1].each do |news| %>
      <div class="carousel-item">
          <div class="card">
          <div class="card-header"><%= news[:title] %></div>
          <img class="card-img-top"<%= image_tag("#{news[:img]}") %>
          <div class="card-body">
            <h5 class="card-title">Summary</h5>
            <p class="card-text"><%= news[:summary] %></p>
            <a href=<%= news[:url] %> target="_blank" class="btn btn-outline-warning">View more</a>
          </div>
          <div class="card-footer text-muted">
           <%= news[:created_at] %>
          </div>
        </div>
      </div>
      <%end%>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>