<span><h4>| Recent News on <%= @game_details[:name] %></h4></span>
<hr id="new-content-line">
<div class="card-deck">
<% @game_newsfeed_list[1..2].each do |news| %>
  <% if news[:img].nil? %>
    <!--Do no thing-->
  <% else%>
    <div class="card">
     <img class="card-img-top"<%= image_tag("#{news[:img]}") %>
      <div class="card-body">
        <h5 class="card-title"><%= news[:title] %></h5>
       <p class="card-text"><%= truncate(news[:summary], length: 200)%></p>
      </div>
       <% create_time = news[:created_at] %>
      <div class="card-footer">
        <small class="text-muted">Last updated <%= time_ago_in_words(create_time) %> ago</small>
      </div>
      <a href=<%=news[:url] %> target="_blank" class="btn btn-outline-warning float-right">Read More</a>
    </div>
  <%end%>
  <%end%>
</div>
<br>
<% @game_newsfeed_list[3..-1].each do |news| %>
  <% if news[:img].nil? %>
    <!--Do no thing-->
  <% else%>
  <div class="media">
  <img class="mr-3" id="news-image" <%= image_tag("#{news[:img]}")  %>
  <div class="media-body">
    <h5 class="mt-0"><%= news[:title] %></h5>
    <% create_time = news[:created_at] %>
     <p class="card-text"><%= truncate(news[:summary], length: 200)%></p>
    Last updated <%= time_ago_in_words(create_time) %> ago
  </div>
  </div>
   <hr>
<%end%>
<%end%>