<!--Show Translated Content-->
<% provide(:title, 'Manage Game Content') %>
<h1>Game Content Management</h1>
<small>REVISE CONTENT</small>
<hr>
<%@translated_games.each do |game|%>
<% I18n.locale = :en%>
<h1><%=game.name%></h1>
<hr>
  <div class="row">
    <div class="col">
      <h4>Summary</h4>
      <hr id ="new-content-line">
      <h6 class="card-subtitle mb-2 text-muted"><%= %></h6>
      <%=form_for(game) do |f|%>
      <%= f.text_area :summary, class: 'form-control', rows: 15 %>
      <%= f.hidden_field :lang, :value => 'en' %>
      <hr>
      <%= f.submit "SAVE", class: "btn btn-warning" %>
      <%end%>
    </div>
    <div class="col">
      <h4>Tóm Tắt</h4>
      <hr id ="new-content-line">
      <% I18n.locale = :vi%>
      <h6 class="card-subtitle mb-2 text-muted"><%= %></h6>
      <%=form_for(game) do |f|%>
      <%= f.text_area :summary, class: 'form-control', rows: 15 %>
      <%= f.hidden_field :lang, :value => 'vi' %>
      <hr>
      <%= f.submit "Save", class: "btn btn-warning" %>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Storyline</h5>
      <hr id ="new-content-line">
      <!--<p class="card-text"><= game.storyline%></p>-->
     
      <%=form_with model: game do |f|%>
      <%= f.rich_text_area :storyline,class: 'form-control' %>
      <%= f.hidden_field :lang, :value => 'en' %>
      <%= f.submit "Save", class: "btn btn-warning" %>
      <%end%>
    </div>
    <div class="col">
      <h5>Cốt Truyện</h5>
      <hr id ="new-content-line">
      <!--<p class="card-text"  style="font-family: 'Be Vietnam' !important;"><= game.storyline%></p>-->
      <%=form_for(game) do |f|%>
      <%= f.rich_text_area :storyline,class: 'form-control' %>
      <%= f.hidden_field :lang, :value => 'vi' %>
      <%= f.submit "Save", class: "btn btn-warning" %>
      <%end%>
    </div>
  </div>
  <hr>
  <script>
   $("button#edit-en-summary").click(function(e){
      alert("Clicked " + $(this).text());
      $("#summary-eng").replaceWith( '<textarea class="form-control" rows="15">' + $("#summary-eng").text() + "</textarea>" );
    })
  </script>
<%end%>
   <div class="my_pagination">     
        <%= will_paginate @translated_games %>
  </div>
<hr>
