<% provide(:title, "Edit Game") %>
<!--TODO Create partial for element in this page-->
<div class="container">
  <h1>Update Game Details</h1>
  <!--Consider moving it elsewhere-->
  <% flash.each do |message_type, message| %>
   <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-5" id="game-edit-column">
      <h5>Cover Preview</h5>
      <%if @game.cover.nil? || @game.cover == 'NA' %>
      <div class="card" style="width: 18rem;">
         <%=image_tag("//:0",class:"card-img-top")%>
      </div>
      <%else%>
      <div class="card" style="width: 18rem;">
        <%=image_tag(@game.cover,class:"card-img-top")%>
      </div>
      <%end%>
      <h5><%=@game.name%> Information</h5>
      <hr>
    <%= form_for(@game) do |f| %>
      <% if @game.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-danger">
        <!--A helper to display error count - pluralize-->
        The form contains <%= pluralize(@game.errors.count, "error") %>.
        </div>
      </div>
      <ul>
        <!--Display each message lopp-->
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <% end %>
    
    <%= f.label :cover %>
    <%= f.text_field :cover, class: 'form-control' %>
    
    <%= f.label :external_id %>
    <%= f.text_field :external_id, class: 'form-control',:readonly => true%>
  
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  
    <%= f.label :slug %>
    <%= f.text_field :slug, class: 'form-control' %>
    
    <%= f.label :summary %>
    <%= f.text_area :summary, class: 'form-control', rows: 15 %>
    
    <%= f.label :storyline %>
    <%= f.text_area :storyline, class: 'form-control',rows: 20%>
    
    <%= f.label :first_release_date %>
    <%= f.date_field :first_release_date, class: 'form-control' %>
  
    <%= f.submit "SAVE", class: "btn btn-warning" %>
  <% end %>
  </div>
  
  <div class="col-sm" id="game-edit-column">
  <!--Publisher and Developer + Genres here Dropdown-->
   <h5><%=@game.name%> Company - Genres - Platform Detail</h5>
    <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Developer</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <%= form_with model: @pub_company do |f| %>
         <%= f.hidden_field :publisher, :value => true %>
         <%= f.hidden_field :developer, :value => false %>
         <%= f.hidden_field :game_id, :value => @game.id %>
      <div class="row">
        <div class="col">
          <p class="card-text"><%=  @publisher.nil? ? "NA" :  @publisher.name %></p>
        </div>
        
        <div class="col">
      
          <%= f.select(:company_id, options_from_collection_for_select(Company.all, "id", "name"))%>

        </div>
        <div class="col">
          <%= f.submit 'Update', class: 'btn btn-warning' %>
        </div>
        <% end %>
      </div>
       <hr>
      <%= form_with model: @dev_company do |f| %>
         <%= f.hidden_field :developer, :value => true %>
         <%= f.hidden_field :publisher, :value => false %>
         <%= f.hidden_field :game_id, :value => @game.id %>
      <div class="row">
        <div class="col">
          <p class="card-text"><%=  @developer.nil? ? "NA" :  @developer.name %></p> 
        </div>
        
        <div class="col">
      
          <%= f.select(:company_id, options_from_collection_for_select(Company.all, "id", "name"))%>

        </div>
        
        <div class="col">
          <%= f.submit 'Update', class: 'btn btn-warning' %>
        </div>
      </div>
      <%end%>
       <hr>
      
      <div class="row">
        <div class="col">
          <p class="card-text"> <%= @genres %></p>
        </div>
          
        <div class="col">
            <%=select_tag "developer", options_from_collection_for_select(GameGenre.all, "id", "name")%>
        </div>
        <div class="col">
           <%= link_to "Add",'#', class: "btn btn-success" %>
        </div>
      </div>
       <hr>
       <div class="row">
        <div class="col">
          <p class="card-text"> <%= @platform %></p>
        </div>
          
        <div class="col">
            <%=select_tag "platform", options_from_collection_for_select(Platform.all, "id", "name")%>
        </div>
        <div class="col">
           <%= link_to "Add",'#', class: "btn btn-success" %>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col">
          <p>Release Date</p>  
        </div>
        <div class="col">
          <%=game_release_dates(@game)%>
        </div>
        <div class="col">
          
        </div>
        
      </div>
      <!--TODO - Make below dynamic-->
     
    </div>
  </div>
 
  <%= %>
  <%= %>
  </div>
</div>
  <%= render "games/layouts/game_edit_screenshot"%>
  <%= render "games/layouts/game_edit_videos"%>
  <%= render "games/layouts/game_edit_articles"%>
