<div>
  <%@games.each do |game|%>
    <h1><%=game.name%></h1>
    <hr>
    
    <p class="release-date"><%= game.first_release_date %> </p>

    <script type='text/javascript'>
      pad = function(n) {
        if (n < 10) {
          return '0' + n;
        } else {
          return n;
        }
      };

      getTimeLeft = function(game_id, end_time) {
        var days, hours, hoursLeft, minutes, minutesLeft, remainingSeconds, seconds, time_left;
        time_left = Math.abs(new Date(end_time * 1000) - (new Date));
        seconds = time_left / 1000;
        days = Math.floor(seconds / 24 / 60 / 60);
        hoursLeft = Math.floor(seconds - (days * 86400));
        hours = Math.floor(hoursLeft / 3600);
        minutesLeft = Math.floor(hoursLeft - (hours * 3600));
        minutes = Math.floor(minutesLeft / 60);
        remainingSeconds = Math.floor(seconds % 60);
        $('#result-' + game_id).text(pad(days) + ' Days | ' + pad(hours) + ' Hours | ' + pad(minutes) + ' Minutes | ' + pad(remainingSeconds) + ' Seconds');
        // $('#js-endate').text('END TIME ' + new Date(end_time * 1000));
        // $('#js-newdate').text('CURRENT TIME ' + new Date);
      };
      setInterval( function() {  var game_id = <%= game.id %>;
      var end_time = <%= game.first_release_date.to_time.to_i %> ; getTimeLeft(game_id,end_time); }, 1000 );
    </script>
    <div class="card bg-dark text-white">
    <% if game.screenshots.empty? %>
      
    <% else%>
      <%= image_tag(game.screenshots.first.url, class: "card-img", alt: "#{game.name} screenshot")%>
    <%end%>
    <div class="card-img-overlay" id="game-detail-feature">
          <div class="row">
              <div class="col">
                <p class="card-text"></p>
                <p class="release-countdown" id="result-<%= game.id %>"></p>
    
              </div>
          </div>
          <div class="row">
            <div class="col">
                
            </div>   
          </div>
        </div>
    </div>
  <%end%>
</div>