<head>
    <% provide(:title, "Find a game to play") %>
    <title><%= yield(:title) %></title>
</head>

<!--Most discussed/hottest game popover for more detail-->
<%= render "games/layouts/hotgames" %>
<br>
<!--Upcoming Release (Around next month)-->


<!---->
<br>
<%= render "games/layouts/browse_by_genres" %> 
<br>
<%= render "games/layouts/browse_by_platform" %> 
<br>
<%= render "games/layouts/browse_by_relate" %> 
