<% provide(:title, @game_details.name) %>
<div>
  <%= render "gamefeature" %>
</div>

<div class="container" >
  <br>
  <%= render "gamecards" %>
</div>
<br>

<br>
<div class="container" >  
   <%= render "gamevideocarousel"%>
</div>
<br>
<div class="container" >
  <%= render "gamecardcarousel"%>
</div>
<br>
<div class="container" >
    <%= render "gamenewsfeedcarousel"%>
</div>
 <br>
 
<div class = "container">
  
</div>