<div class="container" >
  <h2>Details</h2>
  <hr>
    <%= render "gamecards" %>
</div>
<div class="container" >
<h2>Screenshots</h2>
  <%= render "gamescreenshotcarousel"%>
</div>
<div class="container" >  
<h2>Videos</h2>
<hr>
   <%= render "gamevideocarousel"%>
</div>
<div class="container" >
  <h2>Series</h2>
    <hr>
    <%= render "gamecardcarousel"%>
</div>
<div class="container" >
  <h1>News</h1>
  <hr>
    <%= render "gamenewsfeedcarousel"%>
</div>

