<span><h4>| Most Popular</h4></span>
 <hr id="content-line">
<div class="container" >
  <div class="row">
    
    <div class = "col">
      <i class="fab fa-playstation fa-2x"></i>
      <ul class="list-group list-group-flush">
      <% @ps4_list.each do |game| %>  
      
      <li class="list-group-item">
          <div>
            <a href=<%=game_path(game[:slug]) %> target="_blank"> <h6><%= game[:name] %></h6></a>
            <img src=<%= game[:cover] %> alt="..." style="width:60px !important;height:60px" class="rounded-circle float-right"></h6>
          </div>
          <div>
           <span>Release on: </span>
           <span class="badge badge-pill badge-warning"><%= date_format(game[:first_release_date]) %></span>
          </div>
        </li>
      
      <% end %>
      </ul>
    </div>
    
    <div class = "col">
      <!--TODO: Should pick from platform model, include link to platform-->
      <h5>Nintendo Switch</h5> 
      
      <ul class="list-group list-group-flush">
      <% @nintendo_switch_list.each do |game| %>  
        <li class="list-group-item">
          <div>
           <a href=<%=game_path(game[:slug]) %> target="_blank"> <h6><%= game[:name] %></h6></a>
            <img src=<%= game[:cover] %> alt="..." style="width:60px !important;height:60px" class="rounded-circle float-right"></h6>
          </div>
          <div>
           <!--<span class="badge badge-pill badge-warning"><= game[:popularity] %></span>-->
           <span class="badge badge-pill badge-warning"><%= date_format(game[:first_release_date]) %></span>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
    
     <div class = "col">
      <i class="fab fa-xbox fa-2x"></i>
      <ul class="list-group list-group-flush">
      <% @xbox_list.each do |game| %>  
      <button class="list-group-item">
          <div>
            <a href=<%=game_path(game[:slug]) %> target="_blank"> <h6><%= game[:name] %></h6></a>
            <img src=<%= game[:cover] %> alt="..." style="width:60px !important;height:60px" class="rounded-circle float-right"></h6>
          </div>
          <div>
           <!--<span class="badge badge-pill badge-warning"><= game[:popularity] %></span>-->
           <span>Release on: </span>
           <span class="badge badge-pill badge-warning"><%= date_format(game[:first_release_date]) %></span>
          </div>
        </button>
      
      <% end %>
      </ul>
    </div>
    
  </div>
</div>
