<footer class="footer" >
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>Copyright © 2019 Ethu Inc.<br>
         <small>For Gaming enthusiastic since 2017.<br>
         Ranting and trivia of your most beloved video game<br></small>
      </div>
      <div class="col" id="footer-column">
        <p id="footer-menu">OUR SITES</p>
         <a><%= link_to "EthuGamer",   'http://ethugamer.com' %></a>
      </div>
    
      <div class="col" id="footer-column" >
        <p id="footer-menu"> | ADVERTISE WITH US</p>
      </div>
      <div class="col" id="footer-column" >
        <p id="footer-menu">| OUR NETWORK</p>
      </div>
      <div class="col" id="footer-column">
        <p id="footer-menu">| LINKS</p>
        <ul>
          <li><%= link_to "About",   '/about' %></li>
          <li><%= link_to "Contact", '/contact' %></li>
          <li><%= link_to "Privacy Policy", '#' %></li>
          <li><%= link_to "Blog", 'http://ethugamer.com', target: :_blank %></li>
          <a><%= link_to "Latest Guides",   'http://ethugamer.com' %></a>
        </ul>
      </div>
    </div>
   </div>
  </nav>
</footer>
