<div class ="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!--EthuGameDB</p>-->
    <p class="navbar-brand" href=<%=root_path%>>EthuGameDB |</p>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!--id="navbarNav"-->
      <!--REFACTOR this to helper?-->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link <%=active_class(root_path)%>" href=<%=root_path %>><i class="fas fa-home"></i>
          Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%=active_class(news_path)%>" href=<%=news_path%>><i class="far fa-newspaper"></i>
          News</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link <%=active_class(discover_path)%>" href=<%=discover_path%>><i class="fas fa-gamepad"></i>
          Discover</a>
        </li>
        
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link <=active_class(hot_path)%>" href=<=hot_path%>><i class="fab fa-hotjar fa-lg"></i>-->
        <!--  Hot</a>-->
        <!--</li>-->
        
        <li class="nav-item">
          <a class="nav-link <%=active_class(countdown_path)%>" href=<%=countdown_path%>><i class="fas fa-hourglass-end"></i>
          Count Down</a>
        </li>
        
        <!--<li class="nav-item">-->
        <!--  <a class="nav-link <=active_class(platform_path('pc-microsoft-windows'))%>" href=<=platform_path('pc-microsoft-windows') %>><i class="fab fa-steam fa-lg"></i>-->
        <!--  PC</a>-->
        <!--</li>-->
        
        <li class="nav-item">
          <a class="nav-link <%=active_class(platform_path('xbox-one'))%>" href=<%=platform_path('xbox-one') %> ><i class="fab fa-xbox fa-lg"></i>
          Xbox One</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link <%=active_class(platform_path('playstation-4'))%>" href=<%=platform_path('playstation-4') %>><i class="fab fa-playstation fa-lg"></i>
          PlayStation 4</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link <%=active_class(platform_path('nintendo-switch'))%>" href=<%=platform_path('nintendo-switch') %>><i class="nintendo switch icon"></i>
          Nintendo Switch</a>
        </li>
        
      </ul>
    </div>
    
    <% if logged_in? %>
    <div class="btn-group">
      <button type="button" id ="header-menu-button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Account<i class="fas fa-user-circle"></i></button>
      <div class="dropdown-menu">
          <%= link_to "Profile", current_user, class:"dropdown-item"%>
          <%= link_to "Settings", '#' ,class:"dropdown-item"%>
          <div class="dropdown-divider"></div>
          <%= link_to "Log out", logout_path, method: :delete,class:"dropdown-item"%>
      </div>
    </div>
    <% if current_user.admin? %>
      <i class="fas fa-tools"></i>
      
      <div class="btn-group">
        <button type="button" id ="header-menu-button"  class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Admin<i class="fas fa-cogs"></i>
      </button>
      
      <div class="dropdown-menu">
        <a class="dropdown-item" href=<%=games_path %>>Games Management<span class="badge badge-warning badge-pill"><%=Game.count%></span> </a>
        <a class="dropdown-item" href=<%=adm_game_content_path %>>Content Management <span class="badge badge-warning badge-pill"><%=Game.count%></span> </a>
        <a class="dropdown-item" href="#">Platform Management <span class="badge badge-warning badge-pill"><%=Platform.count%></span> </a>
        <a class="dropdown-item" href="#">Genres Management<span class="badge badge-warning badge-pill"><%=GameGenre.count%></span> </a>
        <a class="dropdown-item" href="#">Articles Management<span class="badge badge-warning badge-pill"><%=GameArticle.count%></span> </a>
        <a class="dropdown-item" href="#">Company Management <span class="badge badge-warning badge-pill"><%=InvolvedCompany.count%></span> </a>
      </div>
      </div>
    <%else%>
    
    <%end%>
        <!--<li><= link_to "Users", '#' %></li>-->
    <% else %>
      <%= link_to "Log in", login_path, class:"btn btn-warning", id:"header-menu-button"%>
    <% end %>
    <%= form_tag(search_path, :method => "get",   
      class: 'form-inline', id: 'search-bar') do %>  
      <%= search_field_tag :name, params[:name], placeholder: " " ,class:"form-control mr-sm-2", id: "custom-search"%>  
      <i class="fas fa-search fa-2x" id="header-search-icon"></i>
        <!--<= button_tag "Search", :class => 'btn btn-outline-warning',:name => nil%>  -->
    <% end %>
</nav>
</div>