<div class ="header">
<nav id="header-menu" class="navbar navbar-dark bg-dark fixed-top">
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--  <span class="navbar-toggler-icon"></span>-->
  <!--</button>-->
  <p class="navbar-brand"><button type="button" id="sidebarCollapse" class="btn btn-outline-warning">
    <i class="fas fa-bars"></i>
  </button>
  GameInsight</p>
  
  <ul id="language-picker" style="float:right;">
    <li><%= link_to 'English', root_path(locale: :en) %></li>
    <li><%= link_to 'Tiếng Việt', root_path(locale: :vi) %></li>
  </ul>
  
  <%= form_tag(search_path, :method => "get",   
    class: 'form-inline', id: 'search-bar') do %>  
    <%= search_field_tag :name, params[:name], placeholder: " ", class: "form-control mr-sm-2" %>  
      <%= button_tag "Search", :class => 'btn btn-outline-warning',:name => nil%>  
  <% end %>
</nav>
</div>