<div class ="header">
<nav id="header-menu" class="navbar navbar-dark bg-dark fixed-top">
  <!--TODO - Styling the drop down menu for logged in user again-->

  <p class="navbar-brand"><button type="button" id="sidebarCollapse" class="btn btn-outline-warning">
    <i class="fas fa-bars"></i>
  </button>
  GameInsight</p>
 
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Language<i class="fas fa-globe-asia"></i>
    </button>
    <div class="dropdown-menu">
    <a class="dropdown-item"><%= link_to 'English', root_path(locale: :en) %></a>
    <a class="dropdown-item"><%= link_to 'Tiếng Việt', root_path(locale: :vi) %></a>
    </div>
  </div>
  <!--Handling logged in-->
  <% if logged_in? %>
    <div class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Account<i class="fas fa-user-circle"></i></button>
      <div class="dropdown-menu">
          <a class="dropdown-item"><%= link_to "Profile", current_user %></a>
          <a class="dropdown-item"><%= link_to "Settings", '#' %></a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><%= link_to "Log out", logout_path, method: :delete %></a>
      </div>
      </div>
    <% if current_user.admin? %>
      <i class="fas fa-tools"></i>
      <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        GAME DB <i class="fas fa-cogs"></i>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href=<%=games_path %>>Games <span class="badge badge-warning badge-pill"><%=Game.count%></span> </a>
        <a class="dropdown-item" href="#">Platform <span class="badge badge-warning badge-pill">14</span> </a>
        <a class="dropdown-item" href="#">Genres<span class="badge badge-warning badge-pill">14</span> </a>
        <a class="dropdown-item" href="#">Articles <span class="badge badge-warning badge-pill">14</span> </a>
        
      <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Upgraded</a>
      </div>
      </div>
    <%else%>
    
    <%end%>
        <!--<li><= link_to "Users", '#' %></li>-->
  <% else %>
    <button type="button" class="btn btn-warning"><%= link_to "Log in", login_path %></button>
  <% end %>
 
  <%= form_tag(search_path, :method => "get",   
    class: 'form-inline', id: 'search-bar') do %>  
    <%= search_field_tag :name, params[:name], placeholder: " ", class: "form-control mr-sm-2" %>  
      <%= button_tag "Search", :class => 'btn btn-outline-warning',:name => nil%>  
  <% end %>
  
</nav>
</div>