<nav id="sidebar">
  <div class="sidebar-header">
    <p>GameInsight</p>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a href=<%=root_path %>><i class="fas fa-home"></i>
      Home</a>
    </li>
    <li>
      <a href=<%=about_path %>><i class="fas fa-info-circle"></i>
      About</a>
    </li>
    <li>
      <a href=<%=help_path %>><i class="fas fa-question-circle"></i>
      Help</a>
    </li>
    <li>
      <a href=<%=contact_path %>><i class="fas fa-envelope"></i>
      Contact</a>
    </li>
    <li>
      <a href=<%=discover_path %>><i class="fas fa-gamepad"></i>
      Discover</a>
    </li>
    <li>
      <a href=""><i class="fab fa-hotjar fa-lg"></i>
      Hot</a>
    </li>
    <hr>
    <li>
      <a href=""><i class="fas fa-calendar-plus fa-lg"></i>
      Release Schedule</a>
    </li>
    <li>
      
      <a href=""><i class="fas fa-hourglass-end"></i>
      Count Down!</a>
    </li>
    <li>
      <a href="#pageSubmenu" data-toggle="collapse"><i class="fas fa-search fa-lg"></i>
      Platforms</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
        <li>
          <a href=<%=platform_path('pc-microsoft-windows') %> target="_blank"> <i class="fab fa-steam fa-lg"></i>
          Steam (PC)</a>
        </li>
        <li>
          <a href=<%=platform_path('xbox-one') %> target="_blank"><i class="fab fa-xbox fa-lg"></i>
          Xbox</a>
        </li>
        <li>
          <a href=<%=platform_path('playstation-4') %> target="_blank"><i class="fab fa-playstation fa-lg"></i>
          PlayStation</a>
        </li>
      </ul>
    </li>
    <hr>
    
    
  </ul>
</nav>
