<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | EthuGameDatabase</title>    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <!--Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121325947-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-121325947-2');
    </script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  
  </head>
 
  <!--< render 'layouts/rightSidebar' %>-->
  <%= render 'layouts/header' %>
    <!--<div class="overlay"></div>-->
    <!--<div class = "container" id = "home-content" style="background-color: #ffffff;">-->
      <!--<div class="wrapper">-->
      <!--     <= render 'layouts/leftSidebar' %>-->
      <!--</div>-->
  <!--</div>-->
  <body>
     
     <div class="container" id="main-site-content">
     <!--<nav aria-label="breadcrumb" id="site-breadcrumb">-->
     <!-- <ol class="breadcrumb">-->
     <!--   <li class="breadcrumb-item"><a href=<=root_path%>>Home</a></li>-->
     <!--   <= breadcrumb_trail %>-->
     <!--   <li class="breadcrumb-item"><a href="#">Library</a></li>-->
     <!--   <li class="breadcrumb-item active" aria-current="page">Data</li>-->
     <!-- </ol>-->
     <!--</nav>-->
       <%= yield %>
     </div>
  </body>
   <%= render 'layouts/footer' %>
  
</html>
